---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
import Logo from "../components/logo.astro";
import Footer from "../components/footer.astro";
---

<Layout title="overlayed">
  <main
    class="min-h-screen w-full flex justify-center items-center flex-col gap-8"
  >
      <Logo />

    <h1 class="!mb-0">
      Welcome to <span class="text-gradient">Overlayed</span>
    </h1>
    <p class="text-center">
      A versatile desktop Discord overlay that seamlessly integrates across
      platforms, offering flexibility for use wherever you go!
    </p>
    <div class="grid md:grid-cols-2 w-full items-center gap-2">
      <Card
        name="User List"
        desc="You can see users in the current voice channel"
      />
      <Card
        name="Transparent"
        desc="The window can be completely transparent"
      />
      <Card
        name="Always on Top"
        desc="The window always stays on top so you can continue working"
      />
      <Card
        name="Customizable Setting"
        desc="The user settings allow configure certain things"
      />
    </div>
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
