---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
import Logo from "../components/logo.astro";
import Footer from "../components/footer.astro";
---

<Layout title="overlayed">
  <main
    class="min-h-screen w-full flex justify-center items-center flex-col gap-8"
  >
    <Logo />
    <div class="relative mt-24"></div>
    <h1 class="!mb-0">
      Welcome to <span class="text-gradient">Overlayed</span>
    </h1>
    <p class="text-center">
      A versatile desktop Discord overlay that seamlessly integrates across
      platforms, offering flexibility for use wherever you go!
    </p>
    <div class="grid md:grid-cols-2 w-full items-center gap-2">
      <Card
        name="User List"
        desc="You can see users in the current voice channel"
      />
      <Card
        name="Transparent"
        desc="The window can be completely transparent"
      />
      <Card
        name="Always on Top"
        desc="The window always stays on top so you can continue working"
      />
      <Card
        name="Customizable Setting"
        desc="The user settings allow configure certain things"
      />
    </div>
  </main>
  <Footer />
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .overlayed-o {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 220px;
    transform: translate(-50%, -50%);
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }

  #logo {
    opacity: 0;
    transform: scale(0.5) translate(7%);
    animation: popin 1.5s ease-in-out forwards;
  }
  @keyframes popin {
    0% {
      transform: scale(0.5) translateY(7%);
      opacity: 0;
    }
    25% {
      transform: scale(1.25) translateY(7%);
    }
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }

  #logo1 {
    animation: goup 1s ease-in-out forwards;
  }
  #logo2 {
    animation: godown 1s ease-in-out forwards;
  }

  @keyframes goup {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-25%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes godown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(25%);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
